@tailwind base;
@tailwind components;
@tailwind utilities;

$Smooch-font: 'Smooch', cursive;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hero-text {
  animation: drop 0.7s linear 1 normal forwards;
}

.smooch-text {
  font-family: $Smooch-font;
  letter-spacing: 5px;
  text-shadow: 1px 1px 2px #025754, 0 0 2em #63e6e1, 0 0 3em #5CBDB9;
}

.hero-heading {
  font-family: $Smooch-font;
  letter-spacing: 5px;
}

@keyframes drop {
  0% {
    transform: translate(-60px, -70px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.shapes {
  // pink
  .object_1 {
    position: absolute;
    right: 30em;
    animation: bob 3s alternate infinite;
  }
  // star
  .object_2 {
    position: relative;
    left: 20em;
    top: 10em;
    animation: bob_1 3s alternate infinite;
  }
  //light pink circle
  .object_3 {
    position: relative;
    left: 10em;
    top: 30em;
    animation: bob_2 3s alternate infinite;
  }
  //tri
  .object_4 {
    position: absolute;
    right: 10em;
    top: 50em;
    animation: bob_3 3s alternate infinite;
  }
}

@keyframes bob {
  0% {
    transform: translate(-10px, -10px);
  }

  100% {
    transform: translate(10px, 10px);
  }
}

@keyframes bob_1 {
  0% {
    transform: translate(10px, -10px);
  }

  100% {
    transform: translate(-10px, 10px);
  }
}

@keyframes bob_2 {
  0% {
    transform: translate(10px, -10px);
  }

  100% {
    transform: translate(-10px, 10px);
  }
}

@keyframes bob_3 {
  0% {
    transform: translate(10px, -10px);
  }

  100% {
    transform: translate(-10px, 10px);
  }
}

.leftBlob {
  position: absolute;
  left: -300px;
  top: 90vh;
  z-index: -1;
}

.rightBlob {
  position: absolute;
  right: -300px;
  top: 1400px;
  z-index: -1;
}


@media (min-width: 1168px) {
  .rightBlob {
  position: absolute;
  right: -300px;
  top: 1400px;
  z-index: 0;
  }
}
